﻿.selectblock {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

body, html {
	width: 100%;
	height: 100%;
	margin: 0px auto;
	font-family: Myriad Pro, Open Sans, sans-serif;
}

figure img {
	margin: 0 auto;
}

figcaption {
	text-align: center;
}

.hidden {
	display: none !important;
}

.pointer {
	cursor: pointer;
}

.text-white {
	color: #FFF;
}

.text-dark-white {
	color: #EEE;
}

.height-10 {
	height: 10vh;
}

.height-90 {
	height: 90vh;
}

.background {
	width: 100vw;
	height: 100vh;
	background-color: rgba(40, 40, 40, 0.6);
}

.container {
	position: relative;
	height: 14rem;
	border: 1px solid;
}

.vertical-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	border: 1px dashed deeppink;
}

.vehicle-scrollable {
	height: 75vh;
	margin-top: 2.5vh;
	overflow-y: auto;
}

/* Added by Composure/Psycho */

.login-heading {
	text-align: center;
}

.panel-heading img.logo {
	width: 250px;
	padding: 3px;
}

.pass-field {
	text-align: center;
	margin-top: 10%;
}

#pass {
	margin-bottom: 10%;
}

#register {
	margin-bottom: 10%;
}
