﻿html {
	box-sizing: border-box;
  }
  *, *:before, *:after {
	  box-sizing: inherit;
  }
  
  body
  {



  }
  .inventory-options {
    float: left;
    width: 85%;
    height: 65px;
  }
  * {
    outline: none;
    color: rgb(255, 255, 255);
	text-decoration: none;
    box-sizing: border-box;
    font-family: Myriad Pro, Open Sans, sans-serif;
    -webkit-font-smoothing: antialiased;
}

  a, a:link, a:visited { 
	color: #c00;
	text-decoration: none;
	
	-webkit-transition: all 0.3s ease;  
	transition: all 0.3s ease;
  }
  a:hover { 
	color: #ff5c19;
	text-decoration: underline;
  }  
  a:active { 
	color: #6aff19;
  }
  
  input[type="range"]
  {
	  width: 400px;
  }
  
  .hidden {
    display: none !important;
  }

.invhouse{

  background-color: #1b1b1b7a;
  width: 900px;
  height: 400px;
  color: white;
  border-radius: 15px 15px 0px 0px;
  border-radius: 15px 15px 15px 15px;
  border: 1px solid black;

  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  }


.maskpos{
  position: absolute;
  top: 12%;
  left: 85%;
}

.hatpos{
  position: absolute;
  top: 12%;
  left: 75%;
  
}

.tiepos{
  position: absolute;
  top: 12%;
  left: 65%;
}

.underpos{
  position: absolute;
  top: 33.2%;
  left: 85%;  

}
.watchpos{
  position: absolute;
  top: 33.2%;
  left: 65%;  
}
.shirtpos{
  position: absolute;

  top: 33.2%;
  left: 75%;  

}

.glasspos{
  position: absolute;
  top: 54.2%;
  left: 85%;  

}
.pantspos{
  position: absolute;
  top: 54.2%;
  left: 75%;  

}
.accessorypos{
  position: absolute;
  top: 54.2%;
  left: 65%;  

}

.radiopos{
  position: absolute;
  top: 75.3%;
  left: 65%;   

}
.shoespos{
  position: absolute;
  top: 75.3%;
  left: 75%; 

}


.hatpos{
  background-image: url('../img/inv/hat.png');
  background-position: center;
  background-size: 100%;
  width: 80px;
  height: 80px;
}

.maskimg{
  background-image: url('../img/inv/mask.png');
  background-position: center;
  background-size: 100%;
  width: 80px;
  height: 80px;
}
.tieimg{
  background-image: url('../img/inv/tie.png');
  background-position: center;
  background-size: 100%;
  width: 80px;
  height: 80px;
}
.underimg{
  background-image: url('../img/inv/under.png');
  background-position: center;
  background-size: 100%;
  width: 80px;
  height: 80px;
}
.watchimg{
  background-image: url('../img/inv/watch.png');
  background-position: center;
  background-size: 100%;
  width: 80px;
  height: 80px;
}
.shirtimg{
  background-image: url('../img/inv/shirt.png');
  background-position: center;
  background-size: 100%;
  width: 80px;
  height: 80px;
}

.glassimg{
  background-image: url('../img/inv/glass.png');
  background-position: center;
  background-size: 100%;
  width: 80px;
  height: 80px;
}
.pantsimg{
  background-image: url('../img/inv/pants.png');
  background-position: center;
  background-size: 100%;
  width: 80px;
  height: 80px;
}
.accessimg{
  background-image: url('../img/inv/access.png');
  background-position: center;
  background-size: 100%;
  width: 80px;
  height: 80px;
}

.radioimg{
  background-image: url('../img/inv/radio.png');
  background-position: center;
  background-size: 100%;
  width: 80px;
  height: 80px;
}

.shoeimg{
  background-image: url('../img/inv/shoe.png');
  background-position: center;
  background-size: 100%;
  width: 80px;
  height: 80px;
}





.maincellpos{
  position: absolute;
  left: 1%;
  top: 12%;
}

.viprow{
  position: absolute;
  top: 99%;
  left: -0.3%;
  background-color: #1b1b1b7a;
  width: 505px;
  height: 89px;
  color: white;
  
  border-radius: 0px 0px 15px 15px;
	border: 1px solid black;

}
.vipcell{
  background-color: rgba(134, 114, 0, 0.151);
  border-radius: 15px 15px 15px 15px;

}
  .img{
  position: absolute;
  left: 95%;
  top: 1%;
  }

  .Header {
    width: 100%;
    height: 39px;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    background-image: url('../img/ui/bg.jpg');
    background-color: rgba(255, 255, 255, 0.13);
    background-position: 1000px 800px;
    border-radius: 15px 15px 0px 0px;
    border-bottom: 1px solid black;
    font-size: 1.2em;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }

  .inventory-row
  {
    display: flex;
	  flex-direction: row;
	  justify-content: flex-start; /* align items in Main Axis */
	  align-items: flex-start; /* align items in Cross Axis */
	  align-content: flex-start; /* Extra space in Cross Axis */
  }
  
  
  .inventory-cell
  {
	  width: 80px;
	  height: 80px;
	  
	  flex-shrink: 0;
	  
	  display: warp;
	  flex-direction: flex;
	  justify-content: left; /* align items in Main Axis */
	  align-items: left; /* align items in Cross Axis */
	  align-content: left; /* Extra space in Cross Axis */
    border-radius: 13px 13px 13px 13px;
    border: solid rgba(255, 255, 255, 0.596);
    margin: 2px;
    
  }
  
  /* left */
  .inventory-cell:first-child
  {
    width: 80px;
	  padding-left: 2px;
	  
	
  }
  
  /* right */
  .inventory-cell:last-child
  {
    width: 80px;

	  padding-right: 2px;
	  
	  
  }
	  
  
  /* top ROW */
  .inventory-row:first-child .inventory-cell
  {

	  height: 80px;
	  padding-top: 2px;
	  
	
  }
  
  /* bottom ROW */
  .inventory-row:last-child .inventory-cell
  {

	  height: 80px;
	  padding-bottom: 2px;
	  

  }
  
  /* top left */
  .inventory-row:first-child .inventory-cell:first-child
  {
	  width: 80px;
	  height: 80px;
	  
	 
  }
  
  /* top right */
  .inventory-row:first-child .inventory-cell:last-child
  {
	  width: 80px;
	  height: 80px;
	  
	 
  }
  
  /* bottom left */
  .inventory-row:last-child .inventory-cell:first-child
  {
    width: 80px;
	  height: 80px;
  }
  
  /* bottom right */
  .inventory-row:last-child .inventory-cell:last-child
  {
    width: 80px;
	  height: 80px;
	  

  }
  
  
  /* single horizontal */
  .inventory-row:only-child .inventory-cell
  {
    
	  height: 80px;
	  

  }
  /* single horizontal left */
  .inventory-row:only-child .inventory-cell:first-child
  {
	  width: 80px;
	  height: 80px;
	  

  }
  /* single horizontal right */
  .inventory-row:only-child .inventory-cell:last-child
  {
	  width: 80px;
	  height: 80px;
	  

  }
  
  /* single vertical */
  .inventory-row .inventory-cell:only-child
  {
	  width: 80px;
	  

  }
  /* single vertical top */
  .inventory-row:first-child .inventory-cell:only-child
  {
	  width: 80px;
	  height: 80px;
	  
	  
  }
  /* single vertical bottom */
  .inventory-row:last-child .inventory-cell:only-child
  {
	  width: 80px;
	  height: 80px;
	  
	  
  }
  
  /* single by singel */
  .inventory-row:only-child .inventory-cell:only-child
  {
	  width: 80px;
	  height: 80px;
	  
	  
  }
  
  
  
  /* ITEMS */
  
  .inventory-item
  {
	  width: 100px;
	  height: 100px;
	
	  background-repeat: no-repeat;
	  
	  cursor: hand;
	  cursor: pointer;
	  
	  -webkit-transition: opacity 0.3s ease;
	  transition: opacity 0.3s ease;
  }
  
  .inventory-item-sortable-placeholder
  {
	  display: none;
  }
  
  .inventory-item.ui-sortable-helper, .inventory-item.ui-draggable-dragging
  {
	  opacity: .6;
  }
  

  
  .inventory-item.burger
  {
    background-image: url('../img//items/burger.png');
    background-position: center;
    background-size: 100%;
    width: 70px;
    height: 70px;
	  
  }
  .inventory-item.Ammobox
  {
    background-image: url('../img//items/Ammobox.png');
    background-position: center;
    background-size: 100%;
    width: 70px;
    height: 70px;
  }
  .inventory-item.copperbar
  {
    background-image: url('../img//items/copperbar.png');
    background-position: center;
    background-size: 100%;
    width: 70px;
    height: 70px;
  }
  .inventory-item.Copperore
  {
    background-image: url('../img//items/Copperore.png');
    background-position: center;
    background-size: 100%;
    width: 70px;
    height: 70px;
  }
  .inventory-item.water
  {
    background-image: url('../img//items/water.png');
    background-position: center;
    background-size: 100%;
    width: 70px;
    height: 70px;
  }
  .inventory-item.weed
  {
    background-image: url('../img//items/weed.png');
    background-position: center;
    background-size: 100%;
    width: 70px;
    height: 70px;
  }
  .inventory-item.wine
  {
    background-image: url('../img//items/wine.png');
    background-position: center;
    background-size: 100%;
    width: 70px;
    height: 70px;
  }
  .inventory-item.Jackhammer
  {
    background-image: url('../img//items/Jackhammer.png');
    background-position: center;
    background-size: 100%;
    width: 70px;
    height: 70px;
  }
  .inventory-item.medkit
  {
    background-image: url('../img//items/medkit.png');
    background-position: center;
    background-size: 100%;
    width: 70px;
    height: 70px;
  }
  .inventory-item.radio
  {
    background-image: url('../img//items/radio.png');
    background-position: center;
    background-size: 100%;
    width: 70px;
    height: 70px;
  }
  .inventory-item.syringe
  {
    background-image: url('../img//items/syringe.png');
    background-position: center;
    background-size: 100%;
    width: 70px;
    height: 70px;
  }
  .inventory-item.pill
  {
    background-image: url('../img//items/pill.png');
    background-position: center;
    background-size: 100%;
    width: 70px;
    height: 70px;
  }

  .inventory-item.shoe
  {
    background-image: url('../img//items/shoe.png');
    background-position: center;
    background-size: 100%;
    width: 70px;
    height: 70px;
  }
  .inventory-item.mask
  {
    background-image: url('../img//items/mask.png');
    background-position: center;
    background-size: 100%;
    width: 70px;
    height: 70px;
  }
  .inventory-item.pants
  {
    background-image: url('../img//items/pants.png');
    background-position: center;
    background-size: 100%;
    width: 70px;
    height: 70px;
  }
  .inventory-item.tshirt
  {
    background-image: url('../img//items/tshirt.png');
    background-position: center;
    background-size: 100%;
    width: 70px;
    height: 70px;
  }
