.all-divs {
    position: relative;
    vertical-align: middle;
    bottom: 1px;
}

#DavWebCreator {
    -webkit-animation: fadein 0.2s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 0.2s;
    /* Firefox < 16 */
    -ms-animation: fadein 0.2s;
    /* Internet Explorer */
    -o-animation: fadein 0.2s;
    /* Opera < 12.1 */
    animation: fadein 0.2s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

i:hover {
    filter: invert(60%);
}


/* Firefox < 16 */

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Internet Explorer */

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Opera < 12.1 */

@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Most of the heart's CSS came from the Shapes of CSS  */


/* https://css-tricks.com/examples/ShapesOfCSS/          */

.heart {
    position: relative;
    width: 100px;
    height: 90px;
    margin: 30px;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
    transition: all 1s;
}

.heart.css {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -ms-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-dely: 1s;
}

.heart.animated {
    -webkit-animation: 1600ms pulsate infinite alternate ease-in-out;
    -moz-animation: 1600ms pulsate infinite alternate ease-in-out;
    -ms-animation: 1600ms pulsate infinite alternate ease-in-out;
    -o-animation: 1600ms pulsate infinite alternate ease-in-out;
    animation: 1600ms pulsate infinite alternate ease-in-out;
}

.heart:before,
.heart:after {
    position: absolute;
    content: "";
    left: 30px;
    top: 0;
    width: 30px;
    height: 70px;
    background: red;
    -moz-border-radius: 30px 30px 0 0;
    border-radius: 30px 30px 0 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

.heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.heart.css:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-animation: '';
    -moz-animation: none;
    -ms-animation: '';
    -o-animation: '';
    animation: '';
}

@keyframes pulsate {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

@-webkit-keyframes pulsate {
    0% {
        -webkit-transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.3);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

@-moz-keyframes pulsate {
    0% {
        -moz-transform: scale(1);
    }
    50% {
        -moz-transform: scale(1.3);
    }
    100% {
        -moz-transform: scale(1);
    }
}

@-ms-keyframes pulsate {
    0% {
        -ms-transform: scale(1);
    }
    50% {
        -ms-transform: scale(1.3);
    }
    100% {
        -ms-transform: scale(1);
    }
}

@-o-keyframes pulsate {
    0% {
        -o-transform: scale(1);
    }
    50% {
        -o-transform: scale(1.3);
    }
    100% {
        -o-transform: scale(1);
    }
}

.rotator {
    width: 100px;
    height: 100px;
    margin: 20px;
    background-color: teal;
}

.transition {
    -webkit-transition: all 1000s linear;
    -moz-transition: all 1000s linear;
    -ms-transition: all 1000s linear;
    -o-transition: all 1000s linear;
    transition: all 1000s linear;
}

.translateAnimationClass {
    -webkit-transform: rotateX(43200deg) rotateY(14400deg);
    -moz-transform: rotateX(43200deg) rotateY(14400deg);
    -ms-transform: rotateX(43200deg) rotateY(14400deg);
    -o-transform: rotateX(43200deg) rotateY(14400deg);
    transform: rotateX(43200deg) rotateY(14400deg);
}

.animation {
    -webkit-animation: rotator 25s linear infinite;
    -moz-animation: rotator 25s linear infinite;
    -ms-animation: rotator 25s linear infinite;
    -o-animation: rotator 25s linear infinite;
    animation: rotator 25s linear infinite;
}

@-webkit-keyframes rotator {
    0% {
        -webkit-transform: rotateX(0deg) rotateY(0deg);
    }
    100% {
        -webkit-transform: rotateX(1080deg) rotateY(360deg);
    }
}

@-moz-keyframes rotator {
    0% {
        -moz-transform: rotateX(0deg) rotateY(0deg);
    }
    100% {
        -moz-transform: rotateX(1080deg) rotateY(360deg);
    }
}

@-ms-keyframes rotator {
    0% {
        -ms-transform: rotateX(0deg) rotateY(0deg);
    }
    100% {
        -ms-transform: rotateX(1080deg) rotateY(360deg);
    }
}

@-o-keyframes rotator {
    0% {
        -o-transform: rotateX(0deg) rotateY(0deg);
    }
    100% {
        -o-transform: rotateX(1080deg) rotateY(360deg);
    }
}

@keyframes rotator {
    0% {
        transform: rotateX(0deg) rotateY(0deg);
    }
    100% {
        transform: rotateX(1080deg) rotateY(360deg);
    }
}

.selectorinio {
    border: 1px solid white;
    border-radius: 3px;
    background: #F8F8F8;
    position: relative;
    z-index: 1;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.selectorinio .label {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 3px;
    position: relative;
    z-index: 1000;
    margin: 0 30px 0 0;
    padding: 6px;
    font-size: 12px;
    line-height: 18px;
    color: rgb(0, 0, 0);
    min-height: 18px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

::-webkit-scrollbar {
    display: none;
}

.selectorinio .button {
    display: block;
    position: absolute;
    border-radius: 7px;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    color: #BBB;
    text-align: center;
    font: 0/0 a;
    *font: 20px/30px Lucida Sans Unicode, Arial Unicode MS, Arial;
}

li:hover {
    background-color: black;
    color: white;
    opacity: 0.65;
    border-radius: 1px;
}

.selectorinio .button:after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-top-color: #BBB;
    border-bottom: none;
}

ul::-webkit-scrollbar {
    width: 0 !important
}

ul {
    height: 130px;
    border-radius: 1px;
    width: 95%;
    overflow: hidden;
    overflow-y: scroll;
    overflow: -moz-scrollbars-none;
    list-style-type: none;
    margin-top: 0;
    margin: 0 30px 0 0;
    padding: 6px;
    font-size: 12px;
    line-height: 25px;
    position: absolute;
    background: white;
    position: absolute;
    z-index: 1;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

body {
    overflow: -moz-scrollbars-none;
}