*,body,html{
    padding:0;
    margin:0}
#chat,a,body,html{
    color:#fff
}
body,html{
    -webkit-font-smoothing:antialiased;
    overflow:hidden;
    font-size:14px;
    -webkit-user-select:none
}
a{
    text-decoration:none
}
.ui_element{
    display:none;position:absolute;
    width:100vw;height:100vh;z-index:2
}
#chat{
    display:block;
    z-index:0;
    line-height:24px;
    font-weight:700;
    text-shadow:1px 1px 0 #000,-1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000;
    font-family:Myriad Pro,Segoe UI,Verdana,sans-serif;
    font-size:16px;
    letter-spacing:.4px;
    margin-left:15px

}
@media screen and (min-height:1080px){
                                                                                                                                                                                                                                                                     
#chat{
    font-size:18px!important;
      font-weight:700}}
#chat ul#chat_messages{
    overflow-y:auto;
    height:285px;
    margin-top:2vh; /*2vh*/
    transform:rotate(180deg);
    /*width:37vw; /* old: 37vw*/
    width: 800px;
    padding:10px 20px; /* old padding: 10px 20px*/
    list-style-type:none}
#chat ul#chat_messages>li{
    transform:rotate(-180deg)}
#chat input#chat_msg{
    color:#fff;
    background:rgba(0,0,0,.5);
    outline:0;border:none;
    font-family:Myriad Pro,Open Sans,sans-serif;
    font-size:13px;
    line-height:35px;
    width:35vw;
    padding:5px 5px 5px 15px}
::-webkit-scrollbar{
    width:07px;
}
::-webkit-scrollbar-thumb{
    background:rgba(255, 17, 0, 0.3);
    border-radius:15px

}
::-webkit-scrollbar-thumb:hover{
    background: rgba(255, 17, 0, 0.65)

}